<%- include("header") %>

<div class="body">
  <title>Trade Cars</title>

    <div class="grid-container">
        <div class="col col-4">
        <h1 className="listings-heading" style="margin-left: 20px;">My Account:</h1>
            <div class="form-container">

                <li>Username: <%= userData.username %></li>
                <li>Email: <%= userData.email %></li>
                <a href="/resetPassword" class="button" ">Reset  Password</a>

            </div>
        </div>
    </div>
</div>

<link href="/styles/style.css" rel="stylesheet" type="text/css">