<%- include("header") %>

<div class="body">
  <title>Trade Cars</title>

    <div class="grid-container">
        <div class="col col-4">
        <h1 className="listings-heading" style="margin-left: 20px;">My Account:</h1>
            <div class="form-container">

                <form action="<%= '/resetPassword'%>"" method="post">
                    <label>Email</label>
                    <input type="email" name="email" required>
                    <input type="submit" value="Confirm">
                </form>

            </div>
        </div>
    </div>
</div>

<link href="/styles/style.css" rel="stylesheet" type="text/css">