<%- include("header") %>

<div class="body">
    <title>Trade Cards</title>
    <div class="grid-container">
        <div class="col col-4">
            <div class="form-container">

                <label>Please enter account details:</label>


        <form action="/login" method="post">
            <label>Email</label>
            <input type="text" name="email">
            <label>Password</label>
            <input type="password" name="password">
            <input type="submit" value="Login"/>
        </form>
        
        <a href="/auth/google">
            <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png" alt="Sign in with Google"/>
        </a>
    </div></div>

    <!-- Google Login Button -->
    
       
    </div>
</div>

<link href="/styles/style.css" rel="stylesheet" type="text/css">