<%- include("header") %>

<div class="body">
    <title>Trade Cars</title>
    <div class="grid-container">
        <div class="col col-4">
            <div class="form-container">
                
                <label>Please enter you details below:</label>
                <form action="/confirmPurchase" method="post">
    
                    <input type="hidden" name="prod" value= <%= product.id %> />
                    <input type="hidden" name="userID" value= <%= userID %> />
    
                    <label>Username</label>
                    <input type="text" name="username" required>
    
                    <!-- <label>Password</label>
                    <input type="password" name="password" required> -->
    
                    <label>Credit Card</label>
                    <input type="number" name="card_number" required>
    
                    <label>Expiry</label>
                    <input type="month" name="expiry" required>
    
                    <label>CCV</label>
                    <input type="number" name="ccv" required>
    
                    <input type="submit" value="Confirm">
                </form>
        </div>
    </div>
   
        </div>
  </div>
  
  <link href="/styles/style.css" rel="stylesheet" type="text/css">

