

<div class="header">
  <div class="nav-wrapper">
    <a class="title" href="/">Trade Cars</a>
    <ul id="nav">
      <li><a href='/'>Home</a></li>
      <% if(login) { %>
        <li><a href='/sell'>Sell</a></li>
        <li><a href='/myListings'>My Listings</a></li>
        <li><a href='/account'>Account</a></li>
        <li class="login">Logged in as: <%= user %></li>
        <li><a href='/logout'>Logout</a></li>
      <% } else { %>      
        <li><a href='/register'>Register</a></li>
        <li><a href='/auth'>Login</a></li>
    <% } %>


    </ul>
  </div>
</div>
