<div class="grid-container">
  <div class="col col-8">
    <div class="listings-container" id="listings">

      <% for (var car in listings) { %>
        <a class="listing-item" href="<%= '/product/'+listings[car].id %>">
          <img
            src="https://images.unsplash.com/photo-1485291571150-772bcfc10da5?auto=format&fit=crop&q=80&w=2456&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="">
          <h2>
            <%= listings[car].model %>
          </h2>
          <li>
            <%= listings[car].make %>
          </li>
          <li>$<%= listings[car].price %>
          </li>
        </a>
        <% } %>

    </div>
  </div>
  <div class="col col-4">
    <div class="search-form">
      <a href="/recommended" class="button-alt">See Recommendations</a>

      <label for="year">Sort By Year: </label>
      <select name="year" onChange="sortByYear(this.value)" onfocus="this.selectedIndex = -1;">
        <option value="asc">Ascending</option>
        <option value="des">Descending</option>
      </select>

      <label for="price">Sort By Price: </label>
      <select name="price" onChange="sortByPrice(this.value)" onfocus="this.selectedIndex = -1;">
        <option value="asc">Ascending</option>
        <option value="des">Descending</option>
      </select>

      <label for="mileage">Sort By Mileage: </label>
      <select name="mileage" onChange="sortByMileage(this.value)" onfocus="this.selectedIndex = -1;">
        <option value="asc">Ascending</option>
        <option value="des">Descending</option>
      </select>

      <script src="/scripts/listingBlock.js"></script>
    </div>
  </div>
</div>
