<div class="grid-container">
    <div class="col col-8">
        <div class="listings-container">
            <% for (var car in listings) { %>
                <a class="listing-item" href="<%= '/product/'+listings[car].id %>">
                
                    <img src="https://images.unsplash.com/photo-1485291571150-772bcfc10da5?auto=format&fit=crop&q=80&w=2456&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <h2><%= listings[car].model %></h2>
                    <li><%= listings[car].make %></li>
                    <li>$<%= listings[car].price %></li>
                </a>

                
            <% } %>
        </div>
        
    </div>
    <div class="col col-4">
        <p>put a bar of options here</p>
    </div>
    <ul>
    
    </ul>
</div>
