<div class="grid-container">
  <div class="col col-8">
    <div class="listings-container" id="listings">
      <% for (var car in listings) { %>
        <a class="listing-item" href="<%= '/product/'+listings[car].id %>">

          <img
            src="https://images.unsplash.com/photo-1485291571150-772bcfc10da5?auto=format&fit=crop&q=80&w=2456&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="">
          <h2>
            <%= listings[car].model %>
          </h2>
          <li>
            <%= listings[car].make %>
          </li>
          <li>$<%= listings[car].price %>
          </li>
        </a>


        <% } %>
    </div>

  </div>
  <div class="col col-4">
    <div class="search-form">

      <label for="year">Sort By Year: </label>
      <select name = "year" onChange="sortByYear(this.value)" onfocus="this.selectedIndex = -1;">
        <option value="asc">Ascending</option>
        <option value="des">Descending</option>
      </select>

      <script>
        const sortByYear = async (order) => {
          const response = await fetch("http://localhost:5001/api/year?order="+order);
          const json = await response.json();
          var listingContainer = document.getElementById("listings");
          listingContainer.innerHTML = "";
          json.forEach((listing) => {
            var listingElement = document.createElement("a");
            listingElement.classList.add("listing-item");
            listingElement.href = "/product/" + listing.id;
            var img = document.createElement("img");
            img.src = "https://images.unsplash.com/photo-1485291571150-772bcfc10da5?auto=format&fit=crop&q=80&w=2456&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            var h2 = document.createElement("h2");
            h2.innerText = listing.model;
            var li1 = document.createElement("li");
            li1.innerText = listing.make;
            var li2 = document.createElement("li");
            li2.innerText = listing.price;
            listingElement.appendChild(img);
            listingElement.appendChild(h2);
            listingElement.appendChild(li1);
            listingElement.appendChild(li2);
            listingContainer.appendChild(listingElement);
          })
        }
      </script>
    </div>
  </div>