<%- include("header") %>

<div class="body">
  <title>Trade Cars</title>
  <h1 className="listings-heading">My Listings:</h1>

  <%- include("listingBlock") %>
</div>

<link href="/styles/style.css" rel="stylesheet" type="text/css">