* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #222 !important;

  /* display: block; */
  /* position: relative; */
  font-size: 56px;
  padding-bottom: 14px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p {
  padding-bottom: 5px;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

.listings-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.listing-item {
  flex: 0 0 calc(50% - 20px);
  /* flex: 1; */
  width: 50%;
  background-color: #c1121f;
  /* padding: calc(40px - 20px); */
  border-radius: 3px;
  color: #fff;
  padding-bottom: 30px;
}

.listing-item a, .listing-item li {
  padding: 0px 20px;
}

.listing-item h2 {
  padding: 0px 20px;
  padding-top: 20px;
}

.listing-item p {
  padding: 0px 20px;
}

img {
  width: 100%;
  border-radius: 3px;
}

/* a.active {
  background-color: #b2b2b2;
} */

.body {
  padding-top: 60px;
}

.header {
  background: #222;
  color: white;
  position: fixed;
  top: 0;
  min-height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
}

.title {
  text-align: right;
  font-size: larger;
  color: #fff;
}

.nav-wrapper {
  margin: auto;
  width: 90%; 
}

.header ul {
  float: right;
  list-style: none;
  text-align: right;
}

.header li {
  display: inline-block;
}

.header li a {
  /* background-color: #c1121f; */
  color: #fff;
  padding: 14px 22px;
  border-radius: 3px;
  /* display: inline-block;
  font-size: medium;
  letter-spacing: 1px;
  margin: 0px 1px;
  padding: 0px 5px;
  border-radius: 2px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase; */
}

.header ul li:last-child a {
  background-color: #c1121f;
}

.button {
  color: #fff;
  padding: 14px 22px;
  border-radius: 3px;
  background-color: #c1121f;
  margin-top: 10px;
  display: inline-block;
}


.button-alt {
  color: #fff;
  padding: 14px 22px;
  border-radius: 3px;
  background-color: #d43945;
  display: inline-block;
}

/* .header li a:hover {
  background-color: #a1a1a1;
  color: white;
} */

/* .header li.login {
  padding: 0px 5px;
  margin-left: 5rem;
  background-color: #a1a1a1;
} */

/* body h1 {
  padding: 2rem;
  text-decoration: underline;
  color: #555555
} */

body ul {
  list-style-type: none;
}



/* body li a {
  /* text-decoration: none;
  padding: 15px 2rem;
  margin-top: 5px;
  margin-left: 2rem;
  background-color: #a1a1a1;
  border-radius: 2px; */
/* }  */

body li a:hover {
  background-color: #888888;
}


.splash-header {
  background-image: url(https://images.unsplash.com/photo-1485291571150-772bcfc10da5?auto=format&fit=crop&q=80&w=2456&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  padding: 100px !important;
  color: #fff;
}

.splash-header h1 {
  color: #fff !important;
}


.form-container {
  background-color: #e0e0e0; 
  padding: 20px;
  max-width: 300px;
  margin: 0 auto; 
}

.form-container label {
  display: block; 
  margin-top: 10px;
  color: #000;
}

.form-container input {
  width: 100%; 
  padding: 10px;
  margin-top: 5px; 
  border: 1px solid #000;
  background-color: #fff;
}

.form-container input[type="submit"] {
  background-color: #000; 
  color: #fff; 
  border: none; 
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
}




/* Define the container for your grid */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
}

/* Define the columns for various screen sizes */
.col {
  box-sizing: border-box;
  flex: 1;
  padding: 10px;
}

/* Responsive layout for different screen sizes */
@media (min-width: 768px) {
  .col-1 { flex: 0 0 8.33%; max-width: 8.33%; }
  .col-2 { flex: 0 0 16.66%; max-width: 16.66%; }
  .col-3 { flex: 0 0 25%; max-width: 25%; }
  .col-4 { flex: 0 0 33.33%; max-width: 33.33%; }
  .col-5 { flex: 0 0 41.66%; max-width: 41.66%; }
  .col-6 { flex: 0 0 50%; max-width: 50%; }
  .col-7 { flex: 0 0 58.33%; max-width: 58.33%; }
  .col-8 { flex: 0 0 66.66%; max-width: 66.66%; }
  .col-9 { flex: 0 0 75%; max-width: 75%; }
  .col-10 { flex: 0 0 83.33%; max-width: 83.33%; }
  .col-11 { flex: 0 0 91.66%; max-width: 91.66%; }
  .col-12 { flex: 0 0 100%; max-width: 100%; }
}

body li {
  display: flex;
}

#car-box {

  padding: 10px;
  float: right;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #F0F0F0;
  border: 2px solid #000;
  /* Your CSS styles go here */
  /* 
   */
  /* Add any other styles you want */
}

/* .car-box {
  color: #fff;
  padding-left: 15px;  padding: 14px 22px;
  background-color: #d43945;
  display: inline-block;
} */

.search-form {
  background-color: #e0e0e0;
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 5px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 10px;
  color: #000;
  font-weight: bold;
}

select, input[type="range"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #000;
  background-color: #fff;
}

output {
  display: inline;
  margin-left: 10px;
}

button[type="submit"] {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #222;
}